
.border {
    background-color: aquamarine;
    margin: 120px 100px 120px 70px;
    padding: 4px 10px 20px 100px;
    border-radius: 5px;
    border: 2px soild black;
    box-shadow: 10px 5px 7px rgb(77, 75, 75);
}
h1{

font-size: 30px;
    margin: 10px 45px 10px 120px;
    font-family: serif;
}
.heading{
color: darkred;
    font-family: emoji;
}